img {
	width: auto;
	max-width: 100%;
	height: auto !important;
	display: block;
}

.color {
	background-color: rgba(255,0,0,0.2);
	font-family: 'open sans';
	text-align: center;
	padding: 26px 0;
	color: #fff;
}