.container {
	width: 90%;
	max-width: $grid-max-width;
	margin: 0 auto;
	background-color: rgb(238,238,238);
	@include clearfix;
}

.row {
	width: 100%;
	margin: 0 ($grid-gutter * -1);
	background-color: rgb(220,220,220);
	@include clearfix;

	&.spacing-top {
		margin-top: $spacing;
	}

	&.spacing-bottom {
		margin-bottom: $spacing;
	}

	&.spacing {
		margin: $spacing auto;
	}
}

[class*='col-'] {
	float: left;
	padding: 0 $grid-gutter;
	width: auto;
	background-color: rgba(255,0,0,0.2);
	margin: $spacing auto;
}

// Grid Phone
@for $i from 1 through $grid-cols {
	.col-#{$i} { 
		width: 100%;
	}
}

// Grid Tablet
@media #{$grid-tablet} {
	.container {
		width: 90%;
	}

	@for $i from 1 through $grid-cols {
		.col-#{$i} { 
			width: 50%;
		}
	}
}

// Grid Medium
@media #{$grid-medium} {
	.container {
		width: 90%;
	}

	@for $i from 1 through $grid-cols {
		.col-#{$i} { 
			width: 100% / $grid-cols * $i;
		}
	}
}